<form [formGroup]="formService.profileForm">
  
  <div formGroupName="people" *ngFor="let person of t.controls; let i = index">
    <div [formGroup]="person">
      <h1>Person {{i + 1}}</h1>
      <label>
        First Name:
        <input type="text" formControlName="firstName">
      </label>
      <label>
        Last Name:
        <input type="text" formControlName="lastName">
      </label>
      <button (click)="delete(i)">Delete Person</button>
      <button (click)="patchValue(i)">Patch Value</button>
    </div>
  </div>


</form>

<button (click)="addPeople()">
  Add People
</button>

<button (click)="getValues()">
  Get Values
</button>

